**********************************************************************
*   The IP of the uplink server to which the bot will be connecting  *
*   to.  This is the c/n line for the bot on the irc server.         *

DEFAULT_SERVER 208.199.195.2

**********************************************************************
*  The DNS of the uplink server to which the bot will be connecting  *
*   to.  This is the c/n line for the bot on the irc server.         *

MYSERVER ChanServ.othernet.org

**********************************************************************
*  The default port on which the bot will connect on                 *

DEFAULT_PORT 7000

**********************************************************************
*  C/N line Password                                                 *

NETPASS cheese

**********************************************************************
*  This is the server numeric that is assign to a 2.10.XX server     *
*  It is very important not to have this the same as another server  *
*  on your network , it will cause a server nick collide.            *

SERVER_NUM 25

**********************************************************************
*   The user name part of user@host                                  *

IRCUSER Chanserv

**********************************************************************
*  The host name part of user@host                                   *

MYHOST Othernet.org

**********************************************************************
*   NickName used by the bot                                         *

BOTNICK Oracle

**********************************************************************
*  This is shown at the end of the line that is show when doing      *
*  a /who                                                            *

IRCNAME /msg Oracle showcommands

**********************************************************************
*  This is server connect reason                                     *

REASON Channel Services

**********************************************************************
*  Modes that the bot will set for itself on connection to the       *
*  Server                                                            *

MYMODES +owsk

**********************************************************************
* This is the character that you want to use that will let the      *
* bot know you are talking to it.     

COMCHAR !

**********************************************************************
*    Channel for the bot to output logging info to                   *
*    leave blank to disable the channel.                             *

MSG_CHAN #CServe_msg

**********************************************************************
*  file name that contains the process id of the bot                 *

PID_FILE O.pid

**********************************************************************
*  Message displayed when a user attempt to use a command they have  *
*  no permission for.                                                *

ACCESS_DENIED No Permission!

**********************************************************************
*  Message given when the die command is used                        *

QUIT_MSG Channel Services Upgrade, Oracle shall return

**********************************************************************
*  Response to a ctcp gender request                                 *

GENDER_RPL I'm The Gender Bender

**********************************************************************
*  This is used to provide the bot the highest level a normal user  *
*  will have.  This is need to set limitations to some of the bot   *
*  commands.  If this is incorrectly set, the bot may not function  *
*  properly.   

MAXUSERLEVEL 500

**********************************************************************
*  This is used to provide the bot the highest level an admin        *
*  will have.  This is need to set limitations to some of the bot    *
*  commands.  If this is incorrectly set, the bot may not function   *
*  properly.   

MAXADMNLEVEL 1000

**********************************************************************
*  This is the channel that contains the cservice admin data         *

CSADMINCHAN #cservice

**********************************************************************
*  This is the email address used by the bot to send either a        *
*  request or auto registration info                                 *

CSERV_EMAIL cservice@othernet.org

**********************************************************************
*This setting will automatically create a channel using the REGISTER *
*command set, and send an email to the channel service administration*
*that a new channel is created. If set to 0, it will not create      *
*the channel. If set to 1, it will. This also affects the behavior of*
*the web interface.                                                  *

AUTOREGISTER 0

**********************************************************************
* This variable keeps track of the number of messages the bot is     *
* allowed to receive until the user is considered to be flooding.    *

FLOOD_RATE 15

**********************************************************************
* The flood_time is the timespan in which the flood_rate number of   *
* messages is received for it to be consider being flooded. For      *
* example, if flood rate is 15 and flood_time is 2, then 15 messages *
* without 2 seconds is considered flooding.                          *

FLOOD_TIME 2

**********************************************************************
* When the user is considered flooding, the bot will put him in the  *
* flood list which the bot will check everytime a message is sent    *
* to see if the user sending the message matches the user in the     *
* flood list. The reset_time, in seconds, is the time in which the   *
* bot clears the flood list of the user flooding.                    *

RESET_TIME 20

**********************************************************************
*    number of seconds that a channel will be purged if the channel  *
*    manager does not show (1728000 seconds = 20 days)               *

PURGE_TIME 1728000

**********************************************************************
*  This is the NICK of the Oper Services                             *

OPERSERV_NICK UWorld

**********************************************************************
*  This is the host of Oper services                                 *

OPERSERV_HOST Operator.Services.othernet.org

**********************************************************************
*  Number of Supporters required to register a channel               *

SUPPORTERS 3

**********************************************************************
*  Your Network Name                                                 *

REG_SUFFIX Othernet.org

**********************************************************************
*  Max Length of User Nick , defined by the ircd                     *

MAXNICKLEN 25

**********************************************************************
*  This is what subject will be dislayed when the registration       *
*  request is sent to CSERV_EMAIL                                    *

EMAIL_SUB Channel Registration Request

**********************************************************************
*  Full path of sendmails location(typically /usr/sbin/sendmail      *

MAIL_PROG /usr/sbin/sendmail

**********************************************************************
*  If this is a 1, the bot will deop all users when it is restarted  *

DEOP_CHAN 0

**********************************************************************
*  If this is a 1, loggin will occur, 0 turns it off                 *

LOGGING 1
